:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color-white: #fafafa;
  --color-black: #2e4052;
  --color-blue: #0052CC;
  --color-blue-darker: #172B4D;
  --color-yellow: #ffda33;
  --color-orange: #ab3e02;

  color: var(--color-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-blue);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-blue-darker);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  a:hover {
    color: #24c8db;
  }
}

html, body {
  @apply box-border m-0 p-0 min-h-screen;
}

#root {
  @apply p-4;
}

.jirassic-gradient {
  background: -webkit-linear-gradient(45deg, var(--color-orange), var(--color-yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}
@keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}

.mantine-Checkbox-input, .mantine-Checkbox-label {
  @apply cursor-pointer;
}

.workspace-badge {
  @apply inline-block px-3 py-1 text-xs font-semibold text-white bg-gray-700 rounded-full;
}
